*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.container .hero-text {
    margin-bottom: 20px;
}

.container .hero-text h1 {
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}

span {
    color: white;
}

.container .hero-text h3 {
    color: white;
    font-weight: 400;
    font-size: 17px;
}

.container .hero-text p {
    width: 440px;
    max-width: 100%;
    color: white;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.social a {
    width: 37px;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    text-decoration: none;
}

.social a:hover {
    transform: scale (1.5);
    background: white;
    transition: .4s;
}

.container .hero-text button {
    color: black;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 1px solid;
}

.container .hero-text button:hover {
    background: transparent:
    border: 2px solid white;
    color: white;
    transition: .4s;
}

.bottom {
    margin-top: 70px;
    padding-bottom: 40px;
}

.bottom p {
    color: white;
    letter-spacing: 2px;
    font-size:10px; 
}

#modalContacto,
#modalTrabajos,
#modalServicios,
#modalAbout,
#modalHola {
    opacity: 0.7;
  }
  